<h1 class="text-3xl text-center font-bold-underline">Clean architecture skeleton!</h1>
<div class="flex justify-center gap-10 mt-7">
  <div>
    <h1>Request utilizando el Use Case</h1>
    @for (user of users; track user.id) {
      <div class="grid place-items-center bg-green-500">
        <h1 class="text-sm">{{ user.name }}</h1>
      </div>
    }
  </div>
  <div>
    <h1>Request utilizando el Service</h1>
    @for (user of usersService; track user.id) {
      <div class="grid place-items-center bg-blue-500">
        <h1 class="text-sm">{{ user.name }}</h1>
      </div>
    }
  </div>
</div>
